@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "Open-Sans-Regular";
  src: url(../fonts/Open-Sans-Regular.ttf);
}
@font-face {
  font-family: "Open-Sans-Semibold";
  src: url(../fonts/Open-Sans-Semibold.ttf);
}
.headerWrap {
  background-color: #000;
  min-height: 790px;
  height: 100%;
  padding: 57px 0 89px 0;
}
.headerWrap .headerTop {
  justify-content: space-between;
}
@media (max-width: 768px) {
  .headerWrap .headerTop {
    flex-direction: column;
    align-items: center;
  }
}
.headerWrap .headerTop__logo {
  color: #fff;
  font-size: 24px;
  font-family: "Lato-Regular", sans-serif;
  font-weight: 700;
}
.headerWrap .headerTop__menu {
  padding: 0;
  background-color: transparent !important;
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
.headerWrap .headerTop__menu .headerTop__nav a {
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
}
.headerWrap .headerTop__menu .headerTop__nav a:hover,
.headerWrap .headerTop__menu .headerTop__nav a:focus {
  color: #fcac45;
  padding-bottom: 0;
}
.headerWrap .headerTop__menu .headerTop__nav a:hover::after,
.headerWrap .headerTop__menu .headerTop__nav a:focus::after {
  margin-top: 17px;
  content: "";
  background: url("../images/headerTop__menuLine.png") center no-repeat;
  background-size: cover;
  display: block;
  height: 3px;
  width: 100%;
}
@media (max-width: 768px) {
  .headerWrap .headerTop__menu .headerTop__nav a:hover::after,
  .headerWrap .headerTop__menu .headerTop__nav a:focus::after {
    visibility: hidden;
  }
}
.headerWrap .headerMidle {
  margin-top: 222px;
  align-items: center;
  flex-direction: column;
  font-family: "Open-Sans-Regular", sans-serif;
  text-align: center;
}
.headerWrap .headerMidle__title {
  color: #999999;
  letter-spacing: -2.2px;
  font-size: 44px;
}
.headerWrap .headerMidle__title span {
  color: #fcac45;
  font-weight: 700;
}
.headerWrap .headerMidle__desс {
  font-size: 20px;
  letter-spacing: -1px;
  color: #fff;
}
.headerWrap .headerMidle__desс span {
  font-weight: 700;
}
.headerWrap .headerBottom {
  margin-top: 280px;
  justify-content: center;
}
.headerWrap .headerBottom__button {
  border-radius: 30px;
  width: 50px;
  height: 50px;
}
.headerWrap .headerBottom__button:hover,
.headerWrap .headerBottom__button:focus {
  color: #fcac45;
  background-color: #000;
  border-color: #fcac45;
  outline: none;
}
.aboutUsWrap {
  background-color: #fff;
  min-height: 612px;
  height: 100%;
  padding: 100px 0 100px 0;
}
.aboutUsWrap .aboutUs__img {
  text-align: center;
}
@media (max-width: 576px) {
  .aboutUsWrap .aboutUs__img img {
    width: 100%;
  }
}
.aboutUsWrap .aboutUs__textBlog {
  font-family: "Open-Sans-Regular", sans-serif;
}
@media (max-width: 992px) {
  .aboutUsWrap .aboutUs__textBlog {
    text-align: center;
  }
}
.aboutUsWrap .aboutUs__textBlog_header {
  color: #636363;
  font-size: 20px;
  line-height: 37.3px;
}
.aboutUsWrap .aboutUs__textBlog_title {
  color: #222222;
  font-size: 34px;
  letter-spacing: -0.68px;
  line-height: 37.3px;
}
.aboutUsWrap .aboutUs__textBlog_title span {
  font-weight: 700;
}
.aboutUsWrap .aboutUs__textBlog_bigLine {
  margin-bottom: 10px;
}
.aboutUsWrap .aboutUs__textBlog_desc {
  color: #6c6c6c;
  font-size: 18px;
  letter-spacing: -0.72px;
  line-height: 25px;
  margin-bottom: 45px;
}
.aboutUsWrap .aboutUs__textBlog_items {
  color: #5a5a5a;
  font-size: 18px;
  letter-spacing: -0.18px;
  font-family: "Open-Sans-Semibold";
  line-height: 25px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .aboutUsWrap .aboutUs__textBlog_items {
    text-align: left;
  }
}
.aboutUsWrap .aboutUs__textBlog_items ul {
  padding-left: 20px;
  list-style-image: url(../images/aboutUs__Item.png);
}
.aboutUsWrap .aboutUs__textBlog_items span {
  letter-spacing: -0.16px;
  font-style: italic;
  font-size: 16px;
  font-family: "Open-Sans-Regular", sans-serif;
}
.aboutUsWrap .aboutUs__textBlog_button .headerBottom__button {
  color: #616161;
  font-size: 12px;
  line-height: 33.3px;
  letter-spacing: 0.3px;
  font-family: "Open Sans - Semibold";
  height: 45px;
  width: 192px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.aboutUsWrap .aboutUs__textBlog_button .headerBottom__button:hover,
.aboutUsWrap .aboutUs__textBlog_button .headerBottom__button:focus {
  color: #fcac45;
  background-color: #000;
  border-color: #fcac45;
  background-color: #fff;
}
.ourTeamWrap {
  background-color: #000;
  min-height: 728px;
  height: 100%;
  padding: 100px 0 84px 0;
}
.ourTeamWrap .ourTeam {
  flex-direction: column;
  align-items: center;
}
.ourTeamWrap .ourTeam__title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Open Sans - Semibold";
  font-size: 44px;
  font-weight: 300;
  line-height: 37.3px;
  margin-bottom: 30px;
}
.ourTeamWrap .ourTeam__title span {
  font-weight: 600;
}
.ourTeamWrap .ourTeam__bigLine {
  margin-bottom: 10px;
  height: 5px;
}
.ourTeamWrap .ourTeam__smallLine {
  height: 5px;
  margin-bottom: 98px;
}
.ourTeamWrap .ourTeam__slider_slide_item {
  color: #fff;
  font-family: "Open-Sans-Regular", sans-serif;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
}
.ourTeamWrap .ourTeam__slider_slide_item img {
  margin-bottom: 22px;
}
.ourTeamWrap .ourTeam__slider_slide_item_name {
  font-size: 20px;
  font-weight: 700;
}
.ourTeamWrap .ourTeam__slider_slide_item_position {
  margin-bottom: 22px;
}
.ourTeamWrap .ourTeam__slider_slide_item_desc {
  margin-bottom: 74px;
}
.ourServicesWrap {
  background-color: #fff;
  min-height: 734px;
  height: 100%;
  padding: 100px 0 100px 0;
}
.ourServicesWrap .ourServices__header {
  flex-direction: column;
  align-items: center;
}
.ourServicesWrap .ourServices__header__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open-Sans-Regular", sans-serif;
  color: #222222;
  font-size: 44px;
  line-height: 37.3px;
  font-weight: 300;
  margin-bottom: 30px;
}
.ourServicesWrap .ourServices__header__title span {
  font-family: "Open-Sans-Semibold";
}
.ourServicesWrap .ourServices__header__bigLine {
  margin-bottom: 10px;
  height: 5px;
}
.ourServicesWrap .ourServices__header__smallLine {
  height: 5px;
  margin-bottom: 94px;
}
.ourServicesWrap .ourServices__header__desc {
  text-align: center;
  font-family: "Open-Sans-Regular", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  color: #6c6c6c;
  margin-bottom: 116px;
}
.ourServicesWrap .ourServices__bottom__item {
  color: #222222;
  text-align: center;
}
.ourServicesWrap .ourServices__bottom__item img {
  margin-bottom: 30px;
}
.ourServicesWrap .ourServices__bottom__item_destination {
  text-transform: uppercase;
  font-family: "Open-Sans-Semibold";
  line-height: 24px;
  font-size: 25px;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .ourServicesWrap .ourServices__bottom__item_destination {
    font-size: 20px;
  }
}
.ourServicesWrap .ourServices__bottom__item_desc {
  font-family: "Open-Sans-Regular", sans-serif;
  line-height: 21px;
  font-size: 14px;
  margin-bottom: 40px;
}
.ourClientsWrap {
  background-color: #000;
  min-height: 516px;
  height: 100%;
  padding: 100px 0 100px 0;
}
.ourClientsWrap .ourClients__header {
  flex-direction: column;
  align-items: center;
}
.ourClientsWrap .ourClients__header__title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Open-Sans-Regular", sans-serif;
  font-size: 44px;
  font-weight: 300;
  line-height: 37.3px;
  margin-bottom: 30px;
}
.ourClientsWrap .ourClients__header__title span {
  font-family: "Open Sans - Semibold";
  font-weight: 600;
}
.ourClientsWrap .ourClients__header__bigLine {
  margin-bottom: 10px;
  height: 5px;
}
.ourClientsWrap .ourClients__header__smallLine {
  height: 5px;
  margin-bottom: 94px;
}
.ourClientsWrap .ourClients__bottom {
  flex-direction: column;
  align-items: center;
}
.ourClientsWrap .ourClients__bottom__slider_slide {
  display: flex;
  justify-content: center;
}
.ourClientsWrap .ourClients__bottom__slider_slide_item {
  margin: 0 15px 100px 15px;
}
.ourWorkWrap {
  background-color: #fff;
  min-height: 1334px;
  height: 100%;
  padding: 100px 0 100px 0;
}
.ourWorkWrap .ourWork__header {
  flex-direction: column;
  align-items: center;
}
.ourWorkWrap .ourWork__header__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open-Sans-Regular", sans-serif;
  color: #222222;
  font-size: 44px;
  line-height: 37.3px;
  font-weight: 300;
  margin-bottom: 30px;
}
.ourWorkWrap .ourWork__header__title span {
  font-family: "Open-Sans-Semibold";
}
.ourWorkWrap .ourWork__header__bigLine {
  margin-bottom: 10px;
  height: 5px;
}
.ourWorkWrap .ourWork__header__smallLine {
  height: 5px;
  margin-bottom: 42px;
}
.ourWorkWrap .ourWork__header__desc {
  text-align: center;
  font-family: "Open-Sans-Regular", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  color: #6c6c6c;
  margin-bottom: 106px;
}
.ourWorkWrap .ourWork__bottom__filter {
  margin-bottom: 50px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .ourWorkWrap .ourWork__bottom__filter {
    flex-direction: column;
    align-items: center;
  }
}
.ourWorkWrap .ourWork__bottom__filter__title {
  font-family: "Open-Sans-Semibold";
  color: #222222;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
}
.ourWorkWrap .ourWork__bottom__filter__menu__item {
  font-family: "Open-Sans-Regular", sans-serif;
  margin-left: 15px;
  font-size: 18px;
}
.ourWorkWrap .ourWork__bottom__filter__menu__item a {
  color: #222222;
  text-decoration: none;
}
.ourWorkWrap .ourWork__bottom__filter__menu__item a:hover,
.ourWorkWrap .ourWork__bottom__filter__menu__item a:focus {
  font-family: "Open-Sans-Semibold";
}
@media (max-width: 576px) {
  .ourWorkWrap .ourWork__bottom__filter__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ourWorkWrap .ourWork__bottom__filter__menu__item:nth-child(2n) {
    display: none;
  }
}
.ourWorkWrap .ourWork__bottom__filter__menu .all {
  width: 25px;
}
.ourWorkWrap .ourWork__bottom__filter__menu .webDesign {
  width: 102px;
}
.ourWorkWrap .ourWork__bottom__filter__menu .mobileDesign {
  width: 122px;
}
.ourWorkWrap .ourWork__bottom__filter__menu .photograpy {
  width: 100px;
}
.ourWorkWrap .ourWork__bottom__content__webDesign {
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .ourWorkWrap .ourWork__bottom__content__webDesign {
    justify-content: center;
  }
}
.ourWorkWrap .ourWork__bottom__content__webDesign__item {
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .ourWorkWrap .ourWork__bottom__content__webDesign__item {
    margin: 15px;
  }
}
.ourWorkWrap .ourWork__bottom__content__mobileDesign {
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .ourWorkWrap .ourWork__bottom__content__mobileDesign {
    justify-content: center;
  }
}
.ourWorkWrap .ourWork__bottom__content__mobileDesign__item {
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .ourWorkWrap .ourWork__bottom__content__mobileDesign__item {
    margin: 15px;
  }
}
.ourWorkWrap .ourWork__bottom__content__photograpy {
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .ourWorkWrap .ourWork__bottom__content__photograpy {
    justify-content: center;
  }
}
.ourWorkWrap .ourWork__bottom__content__photograpy__item {
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .ourWorkWrap .ourWork__bottom__content__photograpy__item {
    margin: 15px;
  }
}
.testimonialsWrap {
  background-color: #000;
  min-height: 516px;
  height: 100%;
  padding: 100px 0 100px 0;
}
.testimonialsWrap .testimonials__header {
  flex-direction: column;
  align-items: center;
}
.testimonialsWrap .testimonials__header__title {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-family: "Open Sans - Semibold";
  font-weight: 600;
  font-size: 44px;
  line-height: 37.3px;
  margin-bottom: 30px;
}
.testimonialsWrap .testimonials__header__title span {
  font-family: "Open-Sans-Regular", sans-serif;
  font-weight: 300;
}
.testimonialsWrap .testimonials__header__bigLine {
  margin-bottom: 10px;
  height: 5px;
}
.testimonialsWrap .testimonials__header__smallLine {
  height: 5px;
  margin-bottom: 104px;
}
.testimonialsWrap .testimonials__bottom__slider__slide {
  justify-content: center;
}
.testimonialsWrap .testimonials__bottom__slider__slide_desc {
  font-family: "Open Sans - Semibold";
  color: #e7e7e7;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
}
.testimonialsWrap .testimonials__bottom__slider__slide_author {
  margin-bottom: 64px;
  color: #b2b2b2;
  font-size: 18px;
  line-height: 24px;
  font-family: "Open Sans - Semibold";
  font-weight: 400;
}
.testimonialsWrap .testimonials__bottom__slider__slide_author span {
  font-family: "Open-Sans-Regular", sans-serif;
  font-weight: 300;
}
.footer-wrap {
  background-color: #fff;
  min-height: 834px;
  height: 100%;
  padding: 100px 0 0 0;
}
.footer-wrap .footer__header {
  flex-direction: column;
  align-items: center;
}
.footer-wrap .footer__header__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Open-Sans-Regular", sans-serif;
  color: #222222;
  font-size: 44px;
  line-height: 37.3px;
  font-weight: 300;
  margin-bottom: 30px;
}
.footer-wrap .footer__header__title span {
  font-family: "Open-Sans-Semibold";
}
.footer-wrap .footer__header__bigLine {
  margin-bottom: 10px;
  height: 5px;
}
.footer-wrap .footer__header__smallLine {
  height: 5px;
  margin-bottom: 42px;
}
.footer-wrap .footer__header__desc {
  text-align: center;
  font-family: "Open-Sans-Regular", sans-serif;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  color: #6c6c6c;
  margin-bottom: 94px;
}
.footer-wrap .footer__bottom__form {
  justify-content: center;
}
.footer-wrap .footer__bottom__form__item {
  font-family: "Open-Sans-Regular", sans-serif;
  color: #636363;
  font-size: 14px;
  line-height: 24px;
}
.footer-wrap .footer__bottom__form__item span {
  color: #db0000;
}
.footer-wrap .footer__bottom__form__name input {
  width: 361px;
  height: 40px;
  margin-right: 16px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .footer-wrap .footer__bottom__form__name input {
    margin-right: 0;
  }
}
.footer-wrap .footer__bottom__form__email input {
  width: 361px;
  height: 40px;
  margin-bottom: 30px;
}
.footer-wrap .footer__bottom__form__message textarea {
  width: 740px;
  height: 163px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .footer-wrap .footer__bottom__form__message textarea {
    width: 361px;
  }
}
.footer-wrap .footer__bottom__form__button {
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .footer-wrap .footer__bottom__form__button {
    float: none;
    justify-content: center;
  }
}
.footer-wrap .footer__bottom__form__button input {
  width: 165px;
  height: 40px;
  background-color: #fcac45;
  text-align: center;
  font-family: "Open-Sans-Semibold";
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 102px;
}
.footer-wrap .copyrightWrap {
  background-color: #222222;
}
.footer-wrap .copyrightWrap .footer__copyright {
  justify-content: space-between;
  align-items: center;
  height: 92px;
}
@media (max-width: 768px) {
  .footer-wrap .copyrightWrap .footer__copyright {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.footer-wrap .copyrightWrap .footer__copyright__text {
  color: #b2b2b2;
  font-family: "Open-Sans-Regular", sans-serif;
  font-size: 12px;
  letter-spacing: 0.3px;
}
@media (max-width: 768px) {
  .footer-wrap .copyrightWrap .footer__copyright__text {
    margin-bottom: 20px;
  }
}
.footer-wrap .copyrightWrap .footer__copyright__text span {
  font-weight: 700;
}
.footer-wrap .copyrightWrap .footer__copyright__socials img {
  margin-left: 14px;
}
